In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sklearn
import brainiak
import nilearn as nl
from nilearn import image, plotting, input_data

from scipy.spatial import distance

from utils import *

In [6]:
from sklearn.linear_model import LogisticRegression

classifier evidence over time for each subject / wedding
- train
- eval

In [33]:
df = pd.DataFrame(columns=['time','B','C'])
df.loc[0,'time'] = 10
df

  time    B    C
0   10  NaN  NaN

In [69]:
np.round?

In [104]:
def load_logfile_df(sub_num,TR_rate=1.5):
  sub_num = 30
  # load logfile into dataframe
  df = pd.DataFrame(columns=['TR','time','type','data',])
  fpath = 'behav/silvy_buckets/sub1%iday2/%i_viewing.log'%(sub_num,sub_num)
  first_TR_bool = True
  f = open(fpath, "r")
  for x in f:
    tstamp,B,C = x.split('\t')
    tstamp = float(tstamp)
    if first_TR_bool and C == 'Keypress: equal\n':
      first_TR_bool = False
      first_TR_tstamp = tstamp
    df.loc[tstamp,'type'] = B
    df.loc[tstamp,'data'] = C

  # reindex relative to first TR
  df.index = df.index - first_TR_tstamp 
  # include TR column
  df.loc[:,'TR'] = np.floor(df.index /TR_rate)
  # remove negative TRs
  df = df[df.TR >= 0 ]
  return df

In [105]:
df = load_logfile_df(33)

             TR time   type                                               data
0.0000        0  NaN  DATA                                   Keypress: equal\n
0.0190        0  NaN   EXP   Imported subj30_day2_viewing.csv as conditions...
0.0194        0  NaN   EXP   Created sequence: sequential, trialTypes=12, n...
0.0201        0  NaN   EXP   New trial (rep=0, index=0): OrderedDict([('nor...
0.0208        0  NaN   EXP   Created sequence: random, trialTypes=1, nReps=...
...         ...  ...    ...                                                ...
1744.4278  1162  NaN  DATA                                   Keypress: equal\n
1745.3608  1163  NaN  DATA                                       Keypress: 2\n
1746.5353  1164  NaN  DATA                                   Keypress: equal\n
1746.5427  1164  NaN   EXP                   northorsouth2: autoDraw = False\n
1746.8863  1164  NaN   EXP                      window1: mouseVisible = True\n

[1803 rows x 4 columns]

# load roi

In [ ]:
A = load_sub4d(30,task='videos',max_len=2000,numpy_output=False)

In [ ]:
"sub-130_ses-02_task-videos_space-MNI152NLin2009cAsym_desc-preproc_bold.nii"

In [7]:
def load_sub_roi(sub_n,roi_name):
  fpath = "sub-%i_%s.npy"%(sub_n,roi_name)
  return np.load('fmri_data/masked/'+fpath)

def load_group_roi(roi_name,max_len=1160):
  L = []
  for sub_n in SUB_NS:
    sub_roi = load_sub_roi(sub_n,roi_name)
    print(sub_roi.shape)
    L.append(sub_roi[:max_len,:])
  return np.array(L)

In [12]:
group_roi = load_group_roi(ROI_NAME_L[0])

(1168, 868)
(1166, 868)
(1168, 868)
(1167, 868)
(1166, 868)
(1168, 868)
(1166, 868)
(1167, 868)
(1166, 868)